<%= form_tag(dashboard_index_path, method: :get) do |f|%>
	<%=text_field_tag :search, params[:search], placeholder: "Enter chittinumber here"%>
	<%=submit_tag "search"%>
<%end%>
</br>
<%unless @chitti_details.blank?%>
 	<table border = 1>
		<th>Chitti No</th>
		<th>Chitti Name</th>
		<th>Amount(In Lakhs)</th>
		<th>Validity(In Months)</th>
		<th>Reccur Type</th>
		<th>Amount To Pay</th>
		<th></th>	
		<%@chitti_details.each do |detail|%>
			<tr>
				<td><%=detail.chitti_no%></td>
				<td><%=detail.chitti_name%></td>	
				<td><%=detail.amount%></td>	
				<td><%=detail.validity%></td>	
				<td><%=detail.recurr_type%></td>	
				<td><%=detail.pay_amount%></td>	
				<td><%=link_to "GET USER DETAILS",chitti_users_path(id: detail.id)%></td>			
			</tr>
		<%end%>
	</table>
<%end%>
</br>
<%=link_to "Add New Chitti",new_chitti_detail_path%></br>
<%=link_to "Home",root_path%></br>
<%=link_to "Logout", destroy_user_session_path, :method => :delete%>