<%if flash[:notice].present?%>
	<%=flash[:notice]%>
<%end%>
<%= form_for(@user, :url => users_path, method: :post) do |f|%>
	<table align = center>
		<h2 align = center>Add New Customer</h2>
		<tr>
			<td><label>Name: </label></td>
			<td><%=f.text_field :name%></td>
		</tr>
		<tr>
			<td><label>House Name: </label></td>
			<td><%=f.text_field :house_name%></td>
		</tr>
		<tr>
			<td><label>Place: </label></td>
			<td><%=f.text_field :place%></td>
		</tr>
		<tr>
			<td><label>City: </label></td>
			<td><%=f.text_field :city%></td>
		</tr>
		<tr>
			<td><label>Mobile No: </label></td>
			<td><%=f.text_field :mob_no%></td>
		</tr>
		<tr>
			<td><label>Email Id: </label></td>
			<td><%=f.text_field :email%></td>
		</tr>
		<tr>
			<td><label>Password: </label></td>
			<td><%=f.text_field :password%></td>
		</tr>
		<tr>
			<td></td>	
			<td><%= f.submit "Add User"%></td>
		</tr>
	</table>
<%end%>
</br>
<div align = "center">
	<%=link_to "Home",root_path%></br>
	<%=link_to "Logout",destroy_user_session_path,method: :delete%>
</div>
